{% extends "header.html" %}
{% load static %}

{% block title %} Abhay | About {% endblock title %}


{% block content %}
<section class="about-section">
    <div class="about-container">    
        <div class="about-image">
            <img src="{% static 'images/abhay_yadav.jpg' %}" alt="Abhay Yadav">
        </div>

        <div class="about-text">
            <h1 class="section-title">About Me</h1>
            <p class="section-description">Hello, I'm <strong>Abhay Yadav</strong>, a passionate Python developer...</p>
            <p class="section-description">I’m from Jamnagar, Gujarat – known as the <strong>Oil City of India</strong> and home to the world’s largest refinery. The city is rich in culture, famous for <strong>Bandhani fabrics</strong>, and delicious local food like <strong>gathiya, farsan, and kathiyawadi thali.</strong> A unique blend of tradition, taste, and progress.</p>
            <p class="section-description">I have completed my B.Tech degree from RK University (Rajkot)</p>
            <p class="section-description">My Hobbies are reading books and listening music my strength are i am self motivated person and my short term goal is to get job in reputed company.</p>
            <a href="{% static 'files/Abhay_Yadav_CV.pdf' %}" download class="about-download-btn">Download CV</a>
        </div>
    </div>
</section>
{% endblock %}
